.cta-section {
    position: relative;
    z-index: 1;
    padding-block: 120px;
}

.cta-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background: url("/img/bg-forest.png") top;
    z-index: -1;
}

.cta-section_block {
    max-width: var(--width-text);
    text-align: center;
    margin: 0 auto;
    padding: 60px 8px;
}

.timer {
    width: 344px;
    height: 72px;
    padding: 8px 12px;
    background: var(--static_white_40);
    border-radius: var(--border-radius);
}

.timer-items {
    width: 80px;
    position: relative;
}

.timer-items:not(:last-child)::before {
    content: '';
    width: 1px;
    height: 20px;
    position: absolute;
    background: var(--static_white_40);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
