html {
    font-size: 62.5%;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: var(--static_white);
    line-height: 1;
}

.header_1,
.header_2,
.action_large,
.header_3,
.header_4,
.action_small,
.slider_text {
    font-weight: 600;
}

.header_1 {
    font-size: 3.2rem;
    line-height: 1.5;
    letter-spacing: 0.18em;
}

.header_2,
.action_large {
    font-size: 2.4rem;
    letter-spacing: 0.16em;
}

.header_2,
.action_large,
.header_3 {
     line-height: 1.52;
}

.header_3 {
    letter-spacing: 0.08em;
}

.header_4,
.action_small {
    font-size: 1.2rem;
    line-height: 1.3;
}

.header_4,
.action_small,
.caption {
    letter-spacing: 0.05em;
}

.caption {
    font-family: Allura, serif;
    font-size: 2.4rem;
}

.caption,
.paragraph {
    font-weight: 400;
    text-transform: none;}

.paragraph {
    line-height: 1.48;
}

.slider_text {
    font-size: 8rem;
}
