.container {
    margin: 0 auto;
}

.container-section {
    padding: 60px 82px;
}

.flex {
    display: flex;
}

.flex--column {
    flex-direction: column;
}

.flex--align-center {
    align-items: center;
}

.flex--center {
    align-items: center;
    justify-content: center;
}

.flex--wrap {
    flex-wrap: wrap;
    justify-content: center;
}

.flex_gap-20 {
    gap: 20px;
}

.flex_gap-12 {
    gap: 12px;
}

.flex_gap-8 {
    gap: 8px;
}

.bg-snow {
    background-image: url("/img/bg-snow.png");
    background-size: cover;
    background-position: center;
}

.bg-garland {
    background-image: url("/img/bg-garland.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}
