:root {
    /*color*/
    --primary: #FF4646;
    --primary_10: rgba(255, 70, 70, 0.1);
    --dark: #181C29;
    --static_white: #ffffff;
    --static_white_40: rgba(255, 255, 255, 0.4);
    --static_white_20: rgba(255, 255, 255, 0.2);
    --tag_purple: #4361FF;
    --tag_pink: #FF43F7;
    --tag_green: #06A44F;
    --content_background: #ECF3F8;
    --overlay: rgba(24, 28, 41, 0.8);
}
