.btn,
.link,
.link:visited,
.link:link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.btn {
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: inherit;
    color: inherit;
     font-family: inherit;
}

.btn_primary,
.btn_primary:link,
.btn_primary:visited {
    padding: 20px 32px;
    background-color: var(--dark);
}

.btn_primary:hover,
.btn_primary:active {
    background-color: var(--static_white);
    color: var(--dark);
}

.btn_tab,
.btn_square {
    border: solid 1px transparent;
}

.btn_square {
    padding: 16px;
}

.btn_arrow {
    border-color: var(--static_white);
    width: 56px;
    height: 56px;
}

.btn_arrow:hover,
.btn_up {
    background-color: var(--static_white);
    color: var(--primary);
}

.btn_arrow:disabled,
.btn_arrow:disabled:hover {
    border-color: var(--static_white_40);
    background-color: transparent;
    color: var(--static_white_40);
    cursor: auto;
}

.btn_up {
    border-radius: 50%;
    border-color: var(--primary);
}


.link_nav,
.link_nav:visited,
.link_nav:link {
    padding: 12px 20px;
    border-radius: 12px;
}

.btn_tab {
    padding: 11px 19px;
    border-radius: 12px;
}

.btn_tab:hover,
.btn_tab--active {
    border: solid 1px var(--static_white_20);
    background-color: var(--static_white_20);
}

.btn_tab.action_small {
    text-transform: uppercase;
}

.link_nav:visited,
.link_nav:link {
    color: var(--dark);
}

.link_nav_active,
.link_nav:hover,
.link_nav:active {
    background-color: var(--primary_10);
    color: var(--primary);
}

.btn_burger {
    display: none;
    border: none;
    width: 40px;
    height: 40px;
    position: relative;
}

.btn_burger::before,
.btn_burger::after {
    content: '';
    width: 20px;
    height: 2px;
    background-color: var(--dark);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}

.btn_burger::before {
    top: 16px;
}

.btn_burger::after {
    top: 24px;
}

.btn_burger--active {
    & .btn_burger::before,
    & .btn_burger::after {
        top: 50%;
    }

    & .btn_burger::before {
        transform: translate(-50%, 50%) rotate(45deg);
    }
    & .btn_burger::after {
        transform: translate(-50%, 50%) rotate(-45deg);
    }
}

.icon {
    width: 24px;
    height: 24px;
}
