.btn,
.link,
.link:visited,
.link:link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn {
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
}

.btn_primary,
.btn_primary:link,
.btn_primary:visited {
    padding: 20px 32px;
    background-color: var(--dark);
}

.btn_to-top,
.btn_square {
    border: solid 1px transparent;
}

.btn_square {
    /*padding: 16px;*/
}

.btn_arrow {
    border-color: var(--static_white);
}

.btn_to-top,
.btn_arrow {
    width: 56px;
    height: 56px;
}

.btn_to-top {
    position: fixed;
    right: 8px;
    bottom: -100%;
    background-color: var(--static_white);
    color: var(--primary);
    border-radius: 50%;
    border-color: 1px solid var(--primary);
}

.btn_arrow:disabled {
    border-color: var(--static_white_40);
    background-color: transparent;
    color: var(--static_white_40);
    cursor: auto;
}

.link_nav,
.link_nav:visited,
.link_nav:link {
    padding: 12px 20px;
    border-radius: 12px;
}

.btn_tab {
    padding: 12px 20px;
    border-radius: 12px;
}

input:checked ~ .btn_tab {
    cursor: auto;
    background-color: var(--static_white_20);
}

.btn_tab.action_small {
    text-transform: uppercase;
}

.link_nav:visited,
.link_nav:link {
    color: var(--dark);
}

.link_nav_active {
    background-color: var(--primary_10);
    color: var(--primary);
}

.btn_burger,
.modal_btn {
    border: none;
    width: 40px;
    height: 40px;
    position: relative;
}

.btn_burger {
    display: none;
}

.modal_btn::before,
.modal_btn::after,
.btn_burger::before,
.btn_burger::after {
    content: '';
    height: 2px;
    background-color: var(--dark);
    position: absolute;
    left: 50%;
    transition: all 0.3s ease-in-out;
}

.btn_burger::before,
.btn_burger::after {
    width: 20px;
    transform: translate(-50%, -50%) rotate(0deg);
}

.modal_btn::before,
.modal_btn::after {
    width: 28.28px;
}

.modal_btn::before {
    transform: translate(-50%, 50%) rotate(45deg);
}

.modal_btn::after {
    transform: translate(-50%, 50%) rotate(-45deg);
}


.btn_burger::before {
    top: 16px;
}

.btn_burger::after {
    top: 24px;
}

.modal_btn,
.btn_burger--active {
    &.btn_burger::before,
    &.btn_burger::after {
        top: 50%;
    }

    &.btn_burger::before {
        transform: translate(-50%, 50%) rotate(225deg);
    }

    &.btn_burger::after {
        transform: translate(-50%, 50%) rotate(-225deg);
    }
}

.icon {
    width: 24px;
    height: 24px;
}

@media (hover: hover) {
    .btn_primary:hover,
    .btn_primary:active {
        background-color: var(--static_white);
        color: var(--dark);
    }

    .btn_arrow:hover {
        background-color: var(--static_white);
        color: var(--primary);
    }

    .btn_arrow:disabled:hover {
        border-color: var(--static_white_40);
        background-color: transparent;
        color: var(--static_white_40);
        cursor: auto;
    }

    .btn_tab:hover {
        background-color: var(--static_white_20);
    }

    .link_nav:hover,
    .link_nav:active {
        background-color: var(--primary_10);
        color: var(--primary);
    }
}
