.card-item {
    width: 310px;
    height: 342px;
    border-radius: var(--border-radius);
    cursor: pointer;
    background: var(--content_background);
}

.card-text {
    padding: 20px;
    width: 100%;
    height: 112px;
    margin-top: auto;
    color: var(--dark);
    background-color: var(--static_white);
    border-radius: var(--border-radius);

    .header_4 {
        margin-bottom: 8px;
    }
}

.card-img {
    height: 230px;
}

.card-work {
    background: url("/img/gift-for-work.png");

    & ~ .card-text .header_4 {
        color: var(--tag_purple);
    }

      & ~ .modal-text .modal-info .header_4 {
        color: var(--tag_purple);
    }

}

.card-health {
    background: url("/img/gift-for-health.png");

    & ~ .card-text .header_4 {
        color: var(--tag_green);
    }

        & ~ .modal-text .modal-info .header_4 {
        color: var(--tag_green);
    }
}

.card-harmony {
    background: url("/img/gift-for-harmony.png");

    & ~ .card-text .header_4 {
        color: var(--tag_pink);
    }

    & ~ .modal-text .modal-info .header_4 {
        color: var(--tag_pink);
    }
}

.card-bg {
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

.card-item {
    .header_3 {
        transition: all 0.2s;
    }
}

@media (hover: hover) {
    .card-item:hover {
        .header_3 {
            color: var(--primary);
        }
    }
}
