/*1250px*/
@media only screen and (max-width: 78em) {
    .card-list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .contacts-list {
        grid-template-columns: 1fr;
    }
}

/*976px*/
@media only screen and (max-width: 61em) {
    .container-section,
    .header {
        padding-inline: 8px;
    }
}

/*768px*/
@media only screen and (max-width: 48em) {
    .nav {
        display: none;
    }

    .btn_burger {
        display: inline-flex;
    }
}

/*640px*/
@media only screen and (max-width: 40em) {
    .about-section.flex {
        flex-direction: column;
    }

    .about-section_text {
    max-width: 100%;
    margin-inline: 20px;
}
    .about-section_img {
        width: 100%
    }

    .cta-section_block {
        padding-inline: 0;
    }

    .tabs-list {
        gap: 0;
    }

    .btn_tab {
        padding-inline: 7px;
    }
}


