@import "base/_variables.css";
@import "base/_typography.css";
@import "_button.css";
@import "base/_utils.css";
@import "sections/_header.css";
@import "sections/_hero.css";
@import "sections/_about.css";
@import "sections/_slider.css";

/*base*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.main {
    max-width: 1440px;
    background-color: var(--primary);
    border-radius: 20px;
    overflow: hidden;
}
